@page "/xo"
@using BlazorXO.Game.Engine;

<button onclick="@ChangeCellType" style="width: @Width ; height: @Height ;">
    @switch (Cell.CellType)
    {
        case BoardCellType.Empty:
            break;

        case BoardCellType.X:
            <span>X</span>
            break;

        case BoardCellType.O:
            <span>O</span>
            break;
    }
</button>

@functions {
    [Parameter] public EventCallback<BoardCell> CellClicked { get; private set; }

    [CascadingParameter] BoardCell Cell { get; set; }

    [CascadingParameter] string Width { get; set; }
    [CascadingParameter] string Height { get; set; }

    [CascadingParameter] BoardCellType CellType { get; set; } = BoardCellType.Empty;

    async Task ChangeCellType()
    {
        if (this.CellType != BoardCellType.Empty)
        {
            return;
        }

        await this.CellClicked.InvokeAsync(Cell);
    }
}
